@use "../base/variables" as *;

.card {
    width: 95%;
    max-width: 350px;
    height: 550px;
    max-height: 550px;
    margin-top: toRem(80px);
    background-color: var(--bg-card);
    padding: 0 toRem(25px) toRem(60px);
    border-radius: toRem(25px);
    position: relative;

    .card__image, {
        width: 240px;
        position: absolute;
        top: toRem(-110px);
        left: 50%;
        transform: translate(-50%, 0);
    }

    .card__shadow {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .card__content {
        margin-top: toRem(100px);
    }

    &__heading {
        font-size: toRem(35px);
        text-align: center;
        color: var(--heading-color);
        padding: toEm(20px, 35px) 0 toEm(10px, 35px);
    }

    &__group {
        border-bottom: 1px solid var(--divider-color);
        padding: toRem(15px) 0;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: toRem(14px);
        font-weight: var(--fw-normal);
        color: var(--text-color);
        cursor: pointer;
    }

    &__arrow {
        transition: all 0.2s ease-in;
    }

    &__text {
        padding-top: toRem(5px);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
}

// Utility class for expanding hidden text
.expand {
    max-height: 100px;
}

// Utility class for rotating the arrows
.rotate {
    transform: rotate(180deg);
}

// Utitility class for making question bold when clicked
.bold {
    font-weight: var(--fw-bold);
}