@use '../base/variables' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(70px) 0;
    font-size: toRem(12px);
    width: 100%;
    font-family: var(--ff-primary);
    color: var(--text-color-light);
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rotate-180 {
    transform: rotate(180deg);
}

.active,
.active:active,
.active:focus {
    color: var(--text-color);
    font-weight: var(--fw-bold);
}