@use "../base/variables" as *;

@media (orientation: landscape) {
    .card {
        margin-top: 30vh;
    }
}

@media (min-width: 1440px) {
    main {
        position: relative;

        &::before {
            content: url("../../images/illustration-box-desktop.svg");
            position: absolute;
            top: 65%;
            transform: translateY(-65%);
            left: 200px;
            z-index: 100;
        }
    }


    .card {
        margin-top: 0;
        max-width: 920px;
        position: relative;
        overflow: hidden;
        display: flex;
        padding: rem(70px) rem(90px) rem(90px);


        &__heading {
            text-align: left;
            padding: 0
        }

        &__image {
            z-index: 2;
            margin: 0;
            position: absolute;
            width: 50%;
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
            // transform: translateY(50%);

        }

        &__shadow {
            z-index: 1;
            margin: 0;
            width: 100%;
            position: absolute;
            left: -550px;
            top: -50%;
            transform: translateY(5%);
        }

        &__images {
            width: 50%;
        }

        &__content {
            width: 50%;
        }
    }
}